nav {
    margin: 0;
    background-color: #65D3D0;
    border: 2px solid #019AD2;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-img {
    height: 100%
}