.card {
    padding : 1em;
    background-color : #167000;
    border-radius : 15px;
    border: 2px solid #0D2305;
    width : 10vw;
    /* transform: rotate(180deg); */
    margin : 25vh auto;
    text-align : center;
    display : flex;
    flex-direction : column;
 }

 .myButton {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-moz-linear-gradient(top, #167000 5%, #0D2305 100%);
	background:-webkit-linear-gradient(top, #167000 5%, #0D2305 100%);
	background:-o-linear-gradient(top, #167000 5%, #0D2305 100%);
	background:-ms-linear-gradient(top, #167000 5%, #0D2305 100%);
	background:linear-gradient(to bottom, #167000 5%, #0D2305 100%);
	background-color:#167000;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #0D2305;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0D2305), color-stop(1, #167000));
	background:-moz-linear-gradient(top, #0D2305 5%, #167000 100%);
	background:-webkit-linear-gradient(top, #0D2305 5%, #167000 100%);
	background:-o-linear-gradient(top, #0D2305 5%, #167000 100%);
	background:-ms-linear-gradient(top, #0D2305 5%, #167000 100%);
	background:linear-gradient(to bottom, #0D2305 5%, #167000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0D2305', endColorstr='#167000',GradientType=0);
	background-color:#0D2305;
}
.myButton:active {
	position:relative;
	top:1px;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  